@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Clash;
  src: url(../src/assets/fonts/ClashGrotesk-Light.otf) format("truetype");
}

@theme {
  --font-clash: "Clash", cursive;
}
